{% extends 'base.html' %}
{%  import "bootstrap/wtf.html" as wtf %}

{% block head %}
    <title>登录</title>
{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}

<style>
.form-bg{
    background: #00b4ef;
}
.form-horizontal{
    background: #fff;
    padding-bottom: 40px;
    border-radius: 15px;
    text-align: center;
}
.form-horizontal .heading{
    display: block;
    font-size: 35px;
    font-weight: 700;
    padding: 35px 0;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 30px;
}
.form-horizontal .form-group{
    padding: 0 40px;
    margin: 0 0 25px 0;
    position: relative;
}
.form-horizontal .form-control{
    background: #f0f0f0;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px 0 45px;
    height: 40px;
    transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus{
    background: #e0e0e0;
    box-shadow: none;
    outline: 0 none;
}
.form-horizontal .form-group i{
    position: absolute;
    top: 12px;
    left: 60px;
    font-size: 17px;
    color: #c8c8c8;
    transition : all 0.5s ease 0s;
}
.form-horizontal .form-control:focus + i{
    color: #00b4ef;
}
.form-horizontal .fa-question-circle{
    display: inline-block;
    position: absolute;
    top: 12px;
    right: 60px;
    font-size: 20px;
    color: #808080;
    transition: all 0.5s ease 0s;
}
.form-horizontal .fa-question-circle:hover{
    color: #000;
}
.form-horizontal .main-checkbox{
    float: left;
    width: 20px;
    height: 20px;
    background: #11a3fc;
    border-radius: 50%;
    position: relative;
    margin: 5px 0 0 5px;
    border: 1px solid #11a3fc;
}
.form-horizontal .main-checkbox label{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.form-horizontal .main-checkbox label:after{
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top: 5px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.form-horizontal .main-checkbox input[type=checkbox]{
    visibility: hidden;
}
.form-horizontal .main-checkbox input[type=checkbox]:checked + label:after{
    opacity: 1;
}
.form-horizontal .text{
    float: left;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}
.form-horizontal .btn{
    float: right;
    font-size: 14px;
    color: #fff;
    background: #00b4ef;
    border-radius: 30px;
    padding: 10px 25px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}
@media only screen and (max-width: 479px){
    .form-horizontal .form-group{
        padding: 0 25px;
    }
    .form-horizontal .form-group i{
        left: 45px;
    }
    .form-horizontal .btn{
        padding: 10px 20px;
    }
}
span.error {
    color:red;
    text-align: left;
    display:block;
    margin-left: 30px;
}
#bg {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#bg img {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width:100%;
    height:100%;
    z-index:-1;
}
#login{
    margin-top: 15px;
}
</style>
<div id="bg">
    <img src="{{ url_for('static', filename='images/login.jpg') }}">
</div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
             {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
                <label for="name" generated="true"></label>
            {{ message }}
            </div>
            {% endfor %}
            <form action="" method="post" id="login" class="form-horizontal">
                <span class="heading">用户登录</span>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username(class='form-control') }}
                    <i class="glyphicon glyphicon-user"></i>
                </div>
                <div class="form-group help">
                    {{ form.password(class='form-control') }}
                    <i class="glyphicon glyphicon-lock"></i>
                </div>
                <div class="form-group">
                    {{ form.remember_me(class='main-checkbox') }}
                    <span class="text">{{ form.remember_me.label }}</span>
                    {{ form.submit(class='btn btn-default') }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block js_script %}
    <script type="application/javascript">
        $(document).ready(function(){
                $('#login').validate({
                    errorElement: 'span',
                    errorPlacement: function(error, element) {
                           error.appendTo(element.parent());
                    },
                    rules: {
                        username: {required: true},
                        password: {required: true},
                    },
                    messages: {
                        username: {required: '用户必填！'},
                        password: {required: '密码必填！'},
                    },

                });
        });
    </script>
{% endblock %}