* {
    margin: 0;
    padding: 0;
}
body {
    padding-bottom: 70px;
}

.mb5{
    margin-bottom: 5px;
}


label.error{color: red;}


#mb{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    *position: absolute;
    *height: 1380px;
    background: black;
    top:0;
    left: 0;
    opacity:0.6;
}